# Podstawa stylu – dobry punkt wyjścia
BasedOnStyle: LLVM

# Ogólne ustawienia wcięć i spacji
IndentWidth: 3
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 4
IndentCaseLabels: true
IndentGotoLabels: false
IndentPPDirectives: AfterHash

# Nawiasy i bloki
BreakBeforeBraces: Allman
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
  BeforeCatch: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

# Deklaracje i wyrównywanie
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true

# Formatowanie funkcji i argumentów
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false

# Łamanie linii
ColumnLimit: 120
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon

# Spacje
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: true
SpacesInParentheses: false

# Switch / case
IndentCaseBlocks: false
BreakBeforeCaseLabels: false

# Komentarze
ReflowComments: true
CommentPragmas: '^ IWYU pragma:'

# Include’y
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<Arduino.h>'
    Priority: 1
  - Regex: '^<.*\.h>'
    Priority: 2
  - Regex: '.*'
    Priority: 3
SortIncludes: true

# Inne
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
PointerAlignment: Left
